body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}
.main-content{
    padding:2rem;
}
.navbar {
  height: 5rem;
}
.nav-link {
  color: #fe424d;
}
.card{
  display:flex;
  margin-right:2rem;
  margin-top:2rem;
}
.card-img-top{
  width:100%;
  object-fit:cover;
  border-radius:1rem;
}